/* declaring variables  */
:root {
    --green: #89c402;
    --blue: #0078d4;
    --dark-blue: #0067b8;
}

/* reset default styles*/
body,
p,
a,
ul,
li,
h2,
h1,
h3,
h6 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base styles */
body {
    overflow-x: hidden;
    background-color: #f4fafd;
}

@font-face {
    font-family: "Fluent Icons";
    src: url("assets/fonts/MWFFluentIcons.woff2");
}

@font-face {
    font-family: "Segoe UI";
    src: url("assets/fonts/latest.woff2");
}

@font-face {
    font-family: "Segoe UI-semibold";
    src: url("assets/fonts/latest\(1\).woff2");
}

* {
    font-family: "Segoe UI" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-weight: 400;
}

/* common styles  */
a {
    font-family: "Segoe UI-semibold" !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.48px;
    font-weight: 500;
    color: #004275;
    cursor: pointer;
    text-decoration: none;
}

.square-button {
    padding: 8px 10px;
    border-radius: 3px;
    max-width: fit-content;
}

.square-button.green {
    background-color: var(--green);
}

.square-button.blue {
    background-color: var(--blue);
    color: white;
}

.square-button.lightblue {
    background-color: #b3daf0;
}

.small-button-blue {
    background-color: var(--blue);
    width: 34.7px;
    height: 35px;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.icon.arrow-right {
    height: 16.75px;
    filter: invert(0.92);
    margin-top: 1px;
}

.buttons-list {
    display: flex;
    column-gap: 8px;
    margin-top: 32px;
    max-width: 100%;
    width: 100%;
    min-width: 1px;
    overflow: hidden;
}

.buttons-list>li {
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-weight: 500;
    background-color: #dce9f2;
    color: #004275;
    padding: 9px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    min-width: max-content;
}

.buttons-list>li:first-child {
    background-color: #005597;
    color: white;
}

.buttons-list>li:not(:first-child):hover {
    background-color: #b8d0e1;
}

.bottom-button {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 68px;
}

.bottom-button>a {
    text-decoration: none;
}



/* header  starts */

header {
    background-color: white;
    display: grid;
    place-items: center;
    height: fit-content;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    overflow-y: hidden;
    border-bottom: 1px solid transparent;
    padding: 0 12px;
}

header>nav>div {
    display: flex;
    flex-flow: row;
    column-gap: 24px;
    align-items: center;
}

header ul>li,
.header-right p {
    padding: 20px 0;
    /* min-width: max-content; */
}

.header-left {
    padding: 0 13px;
}

.header-left>div {
    width: 24px;
    height: 26px;
    overflow: hidden;
    margin-right: -1px;
    margin-top: -2px;
    display: grid;
    place-items: center;
}

.header-left>div>.logo {
    height: 23.4px;
    width: 24px;
    align-self: center;
    margin-bottom: -7px;
}

.menu-icon-small-screen {
    display: none;
}

.header-left>h6 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 500;
    color: #1a1a1f;
}

header ul li,
header ul li p,
.header-right input,
.header-right>p {
    font-family: "Fluent Icons" "Segoe UI" !important;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: normal;
    font-weight: 400;
    color: #232328;
}

.header-left ul {
    display: flex;
    align-items: center;
    column-gap: 15.8px;
    margin-left: 8px;
}

.header-left ul li {
    display: flex;
    column-gap: 4px;
}

.header-left ul li img {
    height: 8px;
    width: 8.35px;
    align-self: flex-end;
}

.header-right {
    margin-right: 8px;
    /* padding-left: 50px; */
}

.header-right>* {
    display: flex;
    column-gap: 16px;
    align-items: center;
    color: #444448;
}

.header-right-small-screen {
    display: none;
}

.header-right .search-bar {
    background-color: #f8f9fa;
    border: 1px solid #747479;
    border-radius: 5px;
    width: 120px;
    height: 32px;
    margin-right: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.header-right .search-bar>input {
    border: none;
    background-color: #f8f9fa;
    padding: 0 12px;
    flex: 1;
    width: 10px;
}

.header-right .icon.search {
    height: 17.6px;
    width: 17.5px;
    aspect-ratio: 1/1;
    padding: 0 10px;
    margin-top: -1px;
}

.header-right ul>li,
.header-right>p {
    font-family: "Segoe UI" !important;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.48px;
    font-weight: 500;
    text-align: center;
}

.header-right ul>.square-button.green {
    font-family: "Segoe UI-semibold" !important;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.48px;
    font-weight: 500;
    padding: 8.5px 9px 9.5px 9px;
    border: 1px solid #6f9e02;
    color: #272e1b;
    border-radius: 4px;
    margin-right: -10px;
    margin-left: -2px;
    display: grid;
    place-items: center;
    min-width: none;
}

/* header ends  */

/* banner starts  */
.banner {
    height: 628px;
    width: 100vw;
    /* background-color: antiquewhite; */
    overflow: hidden;
}

.banner video {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner-div {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 682px;
    box-sizing: border-box;
    padding: 5%;
    z-index: 2;
    overflow: hidden;
}

.banner-div>div {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1328px;
    margin-top: 6px;
}

.banner-spacer-div {
    width: 50%;
    flex: 1;
}

.banner-content {
    display: flex;
    flex-flow: column;
    row-gap: 16px;
    width: 100%;
    flex: 1;
}

.banner-content>h6 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.96px;
    font-weight: 500;
}

.banner-content>h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.4px;
    font-weight: 500;
}

.banner-content>p {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 400;
    width: 100%;
}

.banner-content>div {
    display: flex;
    column-gap: 8px;
    margin-top: 16px;
}

.banner-content>div>div {
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-weight: 500;
    padding: 14px 18px 16px 18px;
    border-radius: 8px;

}

/* banner ends  */


/* navigation bar starts  */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background-color: #fefefe;
    position: sticky;
    top: 0px;
    z-index: 1000;
    box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)), 0 0.063rem 0.125rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
}

.navigation-bar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1328px;
    padding: 0 3.5rem;
    margin: auto;
    /* box-sizing: border-box; */
}

.navigation-bar>div>ul {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

.navigation-bar>div>ul:first-child {
    /* padding-left: 0.25rem; */
    margin-top: -5px;
    flex-wrap: wrap;
    padding-top: 9px;
}

.navigation-bar>div>ul:first-child>li {
    min-width: max-content;
    padding-bottom: 4px;
    padding: 10px 0 18px 0;
}

.navigation-bar>div>ul>li,
.navigation-bar>div>ul>li>p {
    color: #004275;
    font-family: "Segoe UI-semibold" !important;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 400;
    cursor: pointer;
}

.navigation-bar>div>ul:first-child>li:first-child {
    border-bottom: 4px solid var(--blue);
    padding-bottom: 14px;
    margin-left: 0.25rem;
}

.navigation-bar>div>ul:first-child>li>img {
    display: none;
}

.navigation-bar hr {
    width: 98%;
    height: 4px;
    background-color: #0078d4;
    border-radius: 8px;
    margin: 0;
    border: none;
}

.navigation-bar .square-button.green {
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-weight: 500;
    color: black;
    border-radius: 8px;
    padding: 6px 14px 8px 14px;
    text-align: center;
    margin-left: 1px;
}

/* navigation bar ends  */


/* fixed button  start */

.fixed-button {
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: fixed;
    right: 16px;
    bottom: 0px;
    border-radius: 8px;
    padding: 14px 18px 14px 14px;
    box-sizing: border-box;
    z-index: 500;
}

.fixed-button>p {
    color: white;
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-weight: 500;
}

.fixed-button img {
    height: 16px;
    width: 16px;
}

/* fixed button end  */

/* main content starts  */

main {
    display: grid;
    place-items: center;
}

.title-capital {
    font-family: "Segoe UI-semibold" !important;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.96px;
    font-weight: 500;
    color: #17253d;
}

.title {
    font-family: "Segoe UI-semibold" !important;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.6px;
    font-weight: 500;
    margin-top: 8px;
}

/* featured news start */
.featured-news {
    margin-top: 96px;
    max-width: 1328px;
    padding: 0 5%;
    box-sizing: content-box;
    width: 90%;
    min-width: 158px;
}

.featured-news-divs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
    width: 100%;
    max-width: 1328px;
    box-sizing: border-box;
    padding-right: 10px;
    margin-top: 47px;
    margin-left: -1px;
}

.featured-news-divs>.card {
    background-color: #fefefe;
    border-radius: 25px;
    border: 1px solid #d0d5d8;
    box-shadow: 0px 2px 5px 1px #d0d5d8;
    max-height: max-content;
    padding: 8px;
    display: flex;
    flex-flow: column;
    flex: 1 1 0%;
    overflow: hidden;
}

.featured-news-divs>.card>img {
    aspect-ratio: 1/0.42909;
    border-radius: 15px;
    margin-bottom: 28px;
}

.featured-news-divs>.card>h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
    font-weight: 500;
    padding: 0 16px;
    margin-bottom: 16px;
}

.featured-news-divs>.card>p {
    font-family: "Segoe UI" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 400;
    color: #212e45;
    padding: 0 45px 0 16px;
    margin-bottom: 32px;
    word-wrap: break-word;
}

.featured-news-divs>.card>ul {
    display: flex;
    column-gap: 8px;
    align-items: center;
    flex: 1;
    padding: 16px;
}

.featured-news-divs>.card>ul>a {
    margin-top: -2px;
}

.featured-news-divs .card .small-button-blue>img {
    margin-top: -1px;
}

/* featured news end  */

/* solutions start  */

.solutions {
    margin-top: 95px;
    box-sizing: content-box;
    width: 100%;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_desktop-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=980&qlt=100&fmt=png-alpha&fit=constrain");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.solutions>div {
    max-width: 1328px;
    width: 100%;
    padding: 0 5%;
    box-sizing: content-box;
    width: 90%;
    min-width: 158px;
}

.solutions-divs {
    display: flex;
    flex-flow: row;
    column-gap: 200px;
    justify-content: space-between;
    margin-top: 32px;
    padding-right: 8px;
    box-sizing: border-box;
}

.scrollable-list {
    display: flex;
    column-gap: 47px;
    width: 100%;
    max-width: 426px;
    min-height: 226px;
    height: 492px;
    overflow-y: scroll;
    flex: 1;
}

.scrollable-list hr {
    height: 195px;
    width: 5px !important;
    border: none;
    background-color: var(--blue);
    border-radius: 10px;
    margin: 0;
}

.scrollable-list>ul {
    display: flex;
    flex-flow: column;
}

.scrollable-list>ul>li {
    border-bottom: 1px solid #bdc5d2;
    padding: 32px 0;
}

.scrollable-list>ul>li:not(:first-child),
.scrollable-list>ul>li>div {
    display: flex;
    align-items: center;
    column-gap: 7.5px;
}

.scrollable-list>ul>li:first-child {
    padding-top: 0px;
    display: flex;
    flex-flow: column;
    padding-bottom: 34px;
}

.scrollable-list>ul>li:first-child>div {
    margin-bottom: 32px;
    column-gap: 8.1px;
}

.scrollable-list>ul>li:first-child .solutions-image {
    display: none;
}

.scrollable-list>ul>li:first-child>p {
    margin-bottom: 32px;
}

.scrollable-list .icon.arrow-down {
    width: 17px;
    height: 17px;
    margin-top: 4px;
}

.scrollable-list .icon.arrow-down.invert {
    transform: rotate(180deg);
    margin-top: 0;
}

.scrollable-list>ul>li h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
    font-weight: 500;
    color: #0e1726;
    cursor: pointer;
}

.scrollable-list>ul>li p {
    font-family: "Segoe UI" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 400;
    color: #002948;
}

.scrollable-list>ul>li a {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.solutions-image {
    position: relative;
    width: 50%;
    height: 100%;
    max-width: 656px;
    max-height: 528px;
    aspect-ratio: 4/3 !important;
    border-radius: 25px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.solutions-image>img {
    object-position: center;
    width: 100%;
    height: 100%;
}

.solutions-image>div {
    padding: 6.5px 7px;
    position: absolute;
    z-index: 10;
}

.solutions-image>div>img {
    width: 17px;
}

/* solutions end  */

/* products and services start  */

.products-and-services {
    margin-top: 96px;
    padding-bottom: 100px;
    width: 100%;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/product-background_desktop_homepage?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain");
    background-position: right;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.products-and-services>div {
    max-width: 1328px;
    width: 90%;
    padding: 0 5%;
    box-sizing: content-box;
    overflow: hidden;
}

.products-and-services .buttons-list {
    margin-top: 48px;
    width: 100%;
}

.products-and-services .bottom-button{
    margin-top: 48px;
}

.products-and-services-divs {
    display: flex;
    gap: 16px;
    margin-top: 48px;
    flex-wrap: wrap;
    padding-right: 8px;
    box-sizing: border-box;

    overflow: hidden;
}

.products-and-services-divs p {
    font-family: "Segoe UI" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 400;
    color: #17253d;
}

.products-and-services-divs>.main,
.products-and-services-divs>.grid>li {
    border-radius: 24px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 1px #e2e8eb;
}

.products-and-services-divs .main {
    max-width: 318px;
    width: 100%;
    min-width: 310px;
    height: 568px;
    flex: 1;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/ACOM-HP-Desktop-ENUS-Product-PromoCard-Phi3-Overlay@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=320&hei=560&qlt=100&fmt=png-alpha&fit=constrain");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
}

.products-and-services-divs>.main * {
    color: white;
}

.products-and-services-divs>.main h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.6px;
    font-weight: 500;
    margin-bottom: 1px;
}

.products-and-services-divs>.main p {
    color: #dceef8;
}

.products-and-services-divs .square-button {
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-weight: 500;
    color: black;
    background-color: #b3daf0;
    border-radius: 8px;
    padding: 14px 18px 16px 18px;
    margin-top: 1px;
}

.products-and-services-divs .main .main-gradient {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-flow: column;
    row-gap: 15px;
    justify-content: flex-end;
    background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), transparent);
}

.products-and-services-divs>.grid {
    flex: 1;
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    min-width: 962px;
}

.products-and-services-divs>.grid>li {
    min-width: 308px;
    width: 100%;
    min-height: 270px;
    height: 100%;
    background-color: #fefefe;
    border: 1px solid #e4e9ec;
    padding: 24px;
    display: flex;
    flex-flow: column;
    row-gap: 16px;
    justify-content: flex-end;
    flex: 1;
}

.products-and-services-divs>.grid h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
    font-weight: 500;
    color: #002948;
}

.products-and-services-divs>.grid>li>a {
    text-decoration: underline;
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2px;
    margin-top: 15px;
    text-underline-offset: 2px;
}

.products-and-services-divs>.grid>li>div {
    width: fit-content;
    display: grid;
    padding: 11px;
    border: 1px solid #e6f2fb;
    border-radius: 8px;
}

.products-and-services-divs>.grid>li>div>img {
    width: 24px;
    height: 24px;
}

/* products and services end  */

/* body content banner starts */
.body-content-banner {
    margin-top: 100px;
    max-width: 1328px;
    padding: 0 5%;
    box-sizing: content-box;
    width: 90%;
}

.body-content-banner>div {
    width: 100%;
    padding-right: 24px;
    box-sizing: border-box;
}

.body-content-banner>div>div {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fefefe;
    width: 100%;
    min-height: 512px;
    height: 100%;
    max-height: 504.25px;
    margin: 0;
    padding: 8px;
    border-radius: 25px;
    /* box-sizing: border-box; */
}

.body-content-banner>div>div>div:first-child {
    display: flex;
    flex-flow: column;
    justify-content: center;
    row-gap: 15px;
    padding: 0 70px 0 10px;
}

.body-content-banner h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.6px;
    font-weight: 500;
}

.body-content-banner p {
    font-family: "Segoe UI" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 400;
    color: #212e45;
}

.body-content-banner .square-button {
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 8px;
}

.body-content-banner>div>div>div:not(:first-child) {
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.body-content-banner>div>div>div:not(:first-child)>img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* body content banner ends  */

/* resources by role starts  */
.resources-by-role {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 140px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.resources-by-role .title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2px;
}

.resources-by-role h3 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.2px;
    font-weight: 500;
    margin-top: 42px;
    margin-bottom: -52px;
}

.resources-by-role>.resources-bg {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 5%;
    box-sizing: content-box;
    width: 90%;
    background-image: linear-gradient(90deg, #fbbe9f, #c861bb, #4b95c8);
    backdrop-filter: blur(500px);
    z-index: 10;
}

.resources-by-role>.resources-bg::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-image: linear-gradient(180deg, #f4fafd, #f4fafd, #f4fafd, #f4fafdeb, #f4fafd85, transparent, transparent, transparent);
}

.resources-by-role .navigation-tab {
    min-width: 0;
    width: 100%;
    height: max-content;
    overflow: hidden;
    margin-bottom: 100px;

    /* display: flex; */
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.resources-by-role ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1328px;
    height: fit-content;
    border-radius: 15px;
    background-color: #fefefe;
    overflow: hidden;
    margin-top: 32px;
    border: 1px solid rgba(128, 128, 128, 0.22);

    position: absolute;
    z-index: 0;
}


.resources-by-role ul>li {
    height: 100%;
    min-width: max-content;
    flex: 1;
    border-bottom: 4px solid transparent;
    border-left: 1.5px solid #a9b1bc;
    display: flex;
    align-items: center;
    column-gap: 26px;
    padding: 16px 24px 20px 24px;
    font-family: "Segoe UI-semibold" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 500;
}

.resources-by-role ul>li:first-child {
    border-bottom: 4px solid var(--blue);
    border-left-color: transparent;
}

.resources-by-role ul>li:hover {
    border-bottom-color: var(--blue);
}

.resources-by-role .resources-bg-content {
    max-width: 1336px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.resources-by-role .transparent-bg {
    width: 62.85%;
    height: initial;
    padding: 20px 26px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.25rem);
    border-radius: 25px;
    margin-top: 37px;
    margin-bottom: 70px;
}

.resources-by-role .transparent-bg>img {
    object-fit: fill;
    object-position: center;
    width: 100%;
    border-radius: 8px;
}

/* resources by role ends  */

/* seperating banner start  */
.seperating-banner {
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Desktop-AzureRegions-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=983&qlt=95&fmt=png-alpha&fit=constrain");
    background-position: center;
    background-size: cover;
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;
}

.seperating-banner>div {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 18px;
    overflow: hidden;
    padding: 95px 0 126px;
    margin-right: auto;
    margin-left: auto;
    padding-right: .75rem;
    padding-left: .75rem;
}

.seperating-banner>div * {
    color: white;
    font-size: 20px;
}

.seperating-banner>div h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.4px;
    font-weight: 500;
}

.seperating-banner>div p {
    font-family: "Segoe UI" !important;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 400;
    color: #d6e9f3;
}

.seperating-banner>div .square-button {
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-weight: 500;
    color: #0e1726;
    padding: 13px 18px 17px 18px;
    border-radius: 8px;
    margin-top: 15px;
}

/* seperating banner end  */

/* customer stories start  */
.customer-stories {
    margin-top: 70px;
    max-width: 1328px;
    padding: 0 5%;
    box-sizing: content-box;
    width: 90%;
    min-width: 158px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.customer-stories>.title {
    margin-right: 472px;
}

.customer-stories .bottom-button {
    margin-top: 32px;
}

.customer-stories>.customer-stories-div {
    width: 100%;
    max-width: 1328px;
    box-sizing: border-box;
    padding-right: 10px;
    display: grid;
    place-items: center;
}

.customer-stories-main-div {
    background-color: #fefefe;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
    border-radius: 25px;
    border: 1px solid #e2e8eb;
    box-shadow: 0px 1px 1px 1px #e2e8eb;
    margin-top: 35px;
}

.customer-stories-main-div>.content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 16px;
}

.customer-stories-main-div>.content>.content-top {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}

.customer-stories-main-div>.content>.content-top img {
    border-radius: 8px;
    border: 1px solid #bdc5d2;
}

.customer-stories-main-div>.content>.content-top p {
    font-family: "Segoe UI-semibold" !important;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.2px;
    font-weight: 500;
    color: #17253d;
}

.customer-stories-main-div>.content>.content-bottom {
    width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 12px;
}

.customer-stories-main-div>.content>.content-bottom>p {
    font-family: "Segoe UI-semibold" !important;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 400;
    color: #0f1827;
    margin-top: 50px;
}

.customer-stories-main-div>.content>.content-bottom>ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.customer-stories-main-div>.content>.content-bottom>ul>li {
    display: flex;
    column-gap: 8px;
    min-width: max-content;
    width: fit-content;
    flex-wrap: nowrap;
    align-items: center;
}

.customer-stories-main-div>.content>.content-bottom>ul>li>img {
    height: 20px;
}

.customer-stories-main-div>.content>.content-bottom>ul>li>a {
    min-width: max-content;
    color: #0067b8;
    text-decoration: underline;
}

.customer-stories-main-div>.content>.content-bottom .square-button.blue {
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.3px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 17px 14px 17px;
    margin-top: 20px;
}

.customer-stories-main-div>.image {
    border-radius: 20px;
    overflow: hidden;
}

.customer-stories-main-div>.image>img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.customer-stories-small-div-small-screen {
    display: none;
}


.customer-stories-small-div {
    width: 100%;
    max-width: 1000px;
    min-width: 0;
    background-color: #fefefe;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 35px;
    border-radius: 20px;
    align-self: center;
    overflow: hidden;
    border: 1px solid #e2e2e2;
}

.customer-stories-small-div>li {
    padding: 31px 30px 24px;
    border-bottom: 4px solid transparent;
}

.customer-stories-small-div>li:hover {
    border-bottom-color: #005597;
}

.customer-stories-small-div>li:not(:first-child) {
    border-left: 1px solid #e2e2e2;
}

.customer-stories-small-div>li:first-child {
    border-bottom-color: #005597;
}

.customer-stories-small-div>li>img {
    width: 100%;
    padding: 2px 1.5px;
    box-sizing: border-box;
}

/* customer stories end  */

/* body bottom section starts  */
.body-bottom-section {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 0 5%;
    margin-top: 120px;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/CTA-BG-desktop@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=512&qlt=100&fmt=png-alpha&fit=constrain");
    background-size: cover;
    background-position: right;
    background-position-x: -70px;
}

.body-bottom-section>div {
    max-width: 1328px;
    width: 90%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    row-gap: 48px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.body-bottom-section>div>h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2px;
    font-weight: 500;
}

.body-bottom-section-divs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-right: 8px;
    box-sizing: border-box;
}

.body-bottom-section-divs>.card {
    background-color: #fefefe;
    padding: 24px;
    display: flex;
    flex-flow: column;
    gap: 16px;
    border-radius: 25px;
    border: 1px solid #dadfe1;
    padding-right: 60px;
}

.body-bottom-section-divs>.card>h1 {
    font-family: "Segoe UI-semibold" !important;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.2px;
    font-weight: 500;
}

.body-bottom-section-divs>.card>p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-weight: 400;
    color: #1e425d;
}

.body-bottom-section-divs>.card>div {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    margin-top: 32px;
}

.body-bottom-section-divs>.card>div>ul {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-self: flex-end;
}

/* body bottom section ends  */

/* main content ends  */

.footer-top-spacer {
    width: 100%;
    height: 48px;
    background-color: #f7f7f7;
}

/* footer starts  */

footer {
    width: 100%;
    background-color: #f2f2f2;
    display: grid;
    place-items: center;
    padding-top: 36px;
    padding-bottom: 3px;
}

.world {
    height: 22.2px;
    margin-left: -2px;
}

.footer-content-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    width: 100%;
    max-width: calc(1600px + 10%);
    padding: 0 5%;
    box-sizing: border-box;
    margin-bottom: 9px;
    
}

.footer-content-section>ul {
    display: flex;
    flex-flow: column;
    gap: 16px;
    padding: 0 12px;
}

.footer-content-section>ul>li{
    min-width: 1px;
    word-wrap: break-word;
    word-break: break-all;
}

footer ul>li,
footer .left-section>li>p {
    font-family: "Segoe UI" !important;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    font-weight: 400;
    color: #757575;
    cursor: pointer;
    min-width: max-content;
}

.footer-bottom-section ul>li:hover,.footer-content-section ul>li:not(:first-child):hover {
    text-decoration: underline;
}

.footer-content-section>ul>li:first-child {
    font-family: "Segoe UI-semibold" !important;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: 500;
    color: #616161;
    cursor: auto;
    margin-bottom: -4px;
}

.footer-bottom-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: calc(1600px + 10%);
    padding: 30px 5% 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.footer-bottom-section .left-section {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-bottom-section .left-section>li {
    display: flex;
    min-width: max-content;
    gap: 4px;
    align-items: center;
}

.footer-bottom-section .left-section>li>p {
    min-width: max-content;
}

.footer-bottom-section .left-section>li:first-child>p{
    margin-bottom: 3px;
    margin-left: 1.5px;
    margin-right: -4px;
}

.footer-bottom-section .right-section {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 27px;
    row-gap: 5px;
    padding-left: 20px;
    padding-right: 24px;
    justify-content: flex-end;
    margin-bottom: 2px;
}

.footer-bottom-section .right-section>li {
    min-width: max-content;
}


/* footer ends  */



.small-screen-next-button{
    display: none;
}

.small-screen-next-button{
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    margin-right: -10px;
    background: linear-gradient(90deg,transparent,#f5fafdd7,#f5fafdef,#f5fafd,#f5fafd);
    position: absolute;
    right: 10px;
    padding-left: 60px;
    padding-right: 10px;
}

.resources-by-role .small-screen-next-button{
    margin-top: 32px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.products-and-services .small-screen-next-button,.solutions .small-screen-next-button{
    margin-top: -40px;
    padding: 0px 10px 0px 60px;
}

.solutions .small-screen-next-button{
    background: linear-gradient(90deg,transparent,#fdfeffc2,#fdfeffce,#fdfeff,#fdfeff);
}

.small-screen-next-button  .next-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5fafd;
    display: grid;
    place-items: center;
    border: 2px solid #004275;
    box-sizing: border-box;
}

.solutions .small-screen-next-button .next-button{
    background-color: #fdfeff;
}

.small-screen-next-button  .next-button >img{
    width: 20px;
}











/* ...........................................................................................  */
/* responsive design  */

@media screen and (max-width:1475px) {
    .navigation-bar>div {
        max-width: 100vw;
        padding: 0 4.6rem;
    }

    .products-and-services-divs .main {
        height: 596px;
    }


}

@media screen and (max-width:1439px) {

    .title {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -1.2px;
    }

    .banner-div>div {
        column-gap: 16px;
    }

    .banner-content>h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -2px;
    }

    .banner-content>p {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.54px;
    }

    .featured-news-divs .card>h1 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.54px;
    }

    .scrollable-list>ul>li h1 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.54px;
    }

    .solutions .bottom-button {
        margin-top: 30px;
    }

    .products-and-services-divs {
        flex-flow: column;
    }

    .products-and-services-divs .main {
        max-width: 100%;
        min-width: 0;
        aspect-ratio: 5/2;
        
    }

    .products-and-services-divs .main .main-gradient{
        width: 100%;
        aspect-ratio: initial !important;
    }

    .products-and-services-divs>.main h1 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -1.2px;
    }

    .products-and-services-divs>.grid,
    .products-and-services-divs>.grid>li {
        min-width: 0;
        max-width: 100%;
    }

    .products-and-services-divs>.grid>li h1 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.54px;
    }

    .body-content-banner h1 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -1.2px;
    }

    .resources-by-role .title {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -1.5px;
    }

    .resources-by-role h3 {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -1px;
    }

    .resources-by-role .small-screen-next-button{
        display: block;
    }

    .seperating-banner>div h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -2px;
    }

    .seperating-banner>div p {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.54px;
    }

    .customer-stories-main-div>.content>.content-top p {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -1px;
    }

    .body-bottom-section{
        background-position-x: unset;
    }

    .body-bottom-section>div>h1 {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -1.5px;
    }

    .body-bottom-section-divs>.card>h1 {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -1px;
    }


}

@media screen and (max-width:1279px) {

    .header-right .search-bar {
        margin-right: -4px;
    }

    .navigation-bar>div {
        padding: 0 3.5rem;
    }
}

@media screen and (max-width:1119px) {

    .banner-div {
        padding: 0 56px;
    }

}

@media screen and (max-width:1083px) {
    .footer-content-section{
        grid-template-columns: repeat(3,1fr);
    }

    .footer-bottom-section{
        flex-flow: column;
    }

    .footer-bottom-section .left-section{
        flex-flow: column;
        gap: 16px;
        align-self: flex-start;
        align-items: flex-start;
    }

    .footer-bottom-section .right-section{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1079px) {

    .header-left>div {
        margin-top: -2px;
    }

    header .logo {
        margin-top: -1px;
    }

    .header-left h6 {
        margin-left: -12px;
        margin-top: -1px;
    }

    .header-left>ul {
        margin-left: -4px;
        padding: 0;
    }

    .header-right {
        column-gap: 18px;
    }

    .header-right-big-screen,
    .header-right>.search-bar {
        display: none;
    }

    .header-right {
        padding-right: 8px;
    }

    .header-right-small-screen {
        display: flex;
    }

    .header-right-small-screen li {
        padding: 14.5px 0;
    }

    .header-right-small-screen .icon.search {
        padding: 2px 7px 0 10px;
    }

    .header-right-small-screen .icon.more {
        width: 24px;
        padding: 0;
    }

    .header-right {
        margin-right: 0;
    }

    .banner-content {
        margin-top: 2px;
    }

    .featured-news {
        padding: 0 3.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 56px 0;
        margin-bottom: 0;
    }

    .featured-news-divs {
        max-width: 100%;
        width: 100%;
    }

    .solutions {
        padding: 0;
    }

    .solutions>div {
        padding: 0 3.5rem;
        box-sizing: border-box;
        width: 100%;
    }

    .solutions .title {
        padding-right: 477px;
    }

    .products-and-services {
        padding: 0 3.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 56px 0;
        margin-bottom: 0;
    }

    .products-and-services {
        padding-left:3.5rem;
        padding-right: 3.5rem;
        box-sizing: border-box;
        width: 100%;
        margin-top: 95px;
    }

    .products-and-services>div {
        max-width: 100%;
        width: 100%;
    }

    .products-and-services .small-screen-next-button,.solutions .small-screen-next-button{
        margin-right: 2.5rem;
    }

    .body-content-banner {
        padding-left:3.5rem;
        padding-right: 3.5rem;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0;
        margin-top: 190px;
    }

    .resources-by-role .resources-bg-content{
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .customer-stories{
        padding: 0 3.5rem;
        box-sizing: border-box;
        width: 100%;
    }

    .customer-stories > .title{
        margin-right: 400px;
    }

    .body-bottom-section{
        padding: 0 3.5rem;
        box-sizing: border-box;
        background-position: right;
    }

    .body-bottom-section>div{
        width: 100%;
    }

    footer{
        padding-bottom: 5px;
    }

    .footer-content-section{
        padding: 0 12px;
        row-gap: 44px;
    }

    .footer-content-section>ul{
        padding: 0 12px;
    }

    .footer-bottom-section{
        padding: 30px 24px 16px;
        row-gap: 3px;
    }

    .footer-bottom-section .left-section>li:nth-child(2){
        margin-top: -3px;
        margin-bottom: 4px;
        margin-left: -4px;
    }
}


@media screen and (max-width:939px) {
    .products-and-services .small-screen-next-button{
        display: block;
    }
}

@media screen and (max-width:879px) {
    .solutions .small-screen-next-button{
        display: block;
    }
}



@media screen and (max-width:859px) {

    .banner {
        height: 368px;
    }

    .banner-div {
        height: 423px;
        padding: 0 64px;
    }

    .banner-spacer-div {
        display: none;
    }

    .banner-content {
        row-gap: 12px;
        margin-top: -15px;
    }

    .banner-content>h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .banner-content>div {
        margin-top: 12px;
    }

    .banner-content>div>div {
        padding: 14px 14px 16px 14px;
    }

    .navigation-bar>div {
        padding: 0;
        padding-right: 4px;
    }

    .navigation-bar>div>ul:first-child {
        width: 100%;
        padding: 0;
    }

    .navigation-bar>div>ul:first-child>li:not(:first-child),
    .navigation-bar>div>ul:last-child {
        display: none;
    }

    .navigation-bar>div>ul:first-child>li:first-child {
        width: 100%;
        margin-bottom: 4px;
        padding: 0px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .navigation-bar>div>ul:first-child>li>p {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.48px;
        padding: 25px 0 12px 0;
        margin-left: 12px;
    }

    .navigation-bar>div>ul:first-child>li>img {
        display: block;
        width: 14px;
        margin-right: 13px;
        align-self: last baseline;
        margin-bottom: 14px;
    }

    .featured-news,
    .solutions>div {
        padding: 0 4rem;
    }

    .featured-news-divs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 31px;
        padding-right: 2px;
        row-gap: 6px;
    }

    .featured-news-divs>.card {
        border-radius: 15px;
    }

    .featured-news-divs>.card>img {
        border-radius: 8px;
        margin-bottom: 18px;
    }

    .featured-news-divs>.card>h1 {
        padding: 0 8px;
    }

    .featured-news-divs>.card>ul {
        padding: 8px;
    }

    .featured-news-divs>.card>p {
        margin-bottom: 15px;
        padding: 0 8px;
    }

    .solutions {
        background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_mobile-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=360&hei=995&qlt=100&fmt=png-alpha&fit=constrain");
    }

    .solutions-divs {
        flex-flow: column;
        padding-right: 4px;
    }

    .scrollable-list {
        max-width: 100%;
    }

    .scrollable-list hr {
        display: none;
    }

    .scrollable-list>ul>li {
        padding: 0;
        padding-top: 24px;
        padding-bottom: 25px;
    }

    .scrollable-list>ul>li:first-child {
        padding-bottom: 24px;
    }

    .scrollable-list>ul>li:first-child>div {
        margin-bottom: 25px;
    }

    .scrollable-list>ul>li:first-child>p {
        margin-bottom: 27px;
    }

    .scrollable-list>ul>li:first-child .solutions-image {
        display: grid;
        width: 100%;
        max-width: none;
        max-height: none;
        aspect-ratio: initial !important;
        border-radius: 15px;
        position: relative;
        margin: 26px 0 0 0;
    }

    .scrollable-list>ul>li:first-child .solutions-image .small-button-blue {
        padding: 6.5px 6px;
    }

    .solutions-image {
        display: none;
    }

    .solutions .title {
        padding-right: 0;
    }

    .solutions {
        margin-top: 56px;
    }

    .solutions-divs {
        margin-top: 23px;
    }

    .buttons-list {
        margin-top: 33px;
    }

    .buttons-list>li {
        padding: 8px 16px 10px 16px;
    }

    .products-and-services{
        padding: 0 4rem;
        margin-top: 55px;
        background-position: top;
        background-size: contain;
    }

    .products-and-services-divs{
        padding-right: 4px;
    }

    .products-and-services-divs .main{
        border-radius: 15px;
        aspect-ratio: 9/4;
    }

    .products-and-services-divs .main .main-gradient{
        padding: 16px;
    }

    .products-and-services-divs>.grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .products-and-services-divs>.grid>li {
        min-height: fit-content;
        row-gap: 14px;
        padding: 16px;
        border-radius: 15px;
    }

    .products-and-services .bottom-button{
        margin-top: 28px;
    }

    .products-and-services .small-screen-next-button,.solutions .small-screen-next-button{
        margin-right: 3rem;
    }

    .body-content-banner{
        padding: 0 4rem;
        margin-top: 125px;
    }

    .body-content-banner>div{
        padding-right: 20px;
    }

    .body-content-banner>div>div {
        display: flex;
        flex-flow: column-reverse;
        max-height: none;
        border-radius: 15px;
    }

    .body-content-banner>div>div>div:first-child {
        padding: 50px 0px 40px 4px;
    }

    .body-content-banner>div>div>div:not(:first-child){
        border-radius: 8px;
    }

    .resources-by-role{
        margin-top: 96px;
    }

    .resources-by-role .title{
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -1.4px;
    }

    .resources-by-role h3{
        margin-top: 5px;
    }

    .resources-by-role .bottom-button{
        margin-top: 63px;
    }

    .resources-by-role ul{
        margin-top: 15px;
        border-radius: 10px;
    }

    .resources-by-role ul>li{
        padding: 11px 16px 13px 16px;
    }

    .resources-by-role .resources-bg{
        padding: 0 4.4rem;
        box-sizing: border-box;
        width: 100%;
    }

    .resources-by-role .resources-bg-content{
        padding: 0;
    }

    .resources-by-role .transparent-bg {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 50px;
        margin-top: 32px;
        box-sizing: border-box;
        border-radius: 15px;
    }

    .resources-by-role .small-screen-next-button{
        margin-top: 10px;
    }

    .seperating-banner>div {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .seperating-banner>div h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .customer-stories{
        padding: 0 4rem;
    }

    .customer-stories> .customer-stories-div{
        padding-right: 6px;
    }

    .customer-stories>.title {
        margin-right: 0;
    }

    .customer-stories-main-div {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr, 1fr;
        grid-auto-flow: dense;
    }

    .customer-stories-main-div>.content {
        order: 2;
        padding-left: 8px;
        padding-right: 8px;
    }

    .customer-stories-main-div>.content>.content-bottom>ul>li,
    .customer-stories-main-div>.content>.content-bottom>ul>li>a {
        min-width: 0;
    }

    .customer-stories-main-div>.content>.content-bottom>p {
        margin-top: 22px;
    }

    .customer-stories-small-div {
        display: none;
    }

    .customer-stories-small-div-small-screen {
        display: flex;
        column-gap: 8px;
        margin-top: 35px;
        width: 100%;
    }

    .customer-stories-small-div-small-screen>li {
        border: 2px solid black;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }

    .customer-stories-small-div-small-screen>li:first-child {
        filter: opacity(0.2);
    }

    .customer-stories-small-div-small-screen>li>img {
        width: 35px;
        height: 35px;
    }

    .customer-stories-small-div-small-screen>li:not(:first-child)>img {
        transform: rotate(180deg);
    }

    .body-bottom-section{
        padding: 0 4rem;
    }

    .body-bottom-section-divs{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        gap: 8px;
        padding-right: 4px;
    }

    .body-bottom-section-divs>.card{
        gap: 12px;
        padding: 16px;
        border-radius: 15px;
    }
    
    .body-bottom-section>div>h1 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -1.4px;
        text-align: center;
    }

    .body-bottom-section-divs>.card>div{
        margin-top: 16px;
    }


}

@media screen and (max-width:767px) {
    header {
        height: 78px;
        padding: 12px;
        padding-right: 4px;
        box-sizing: border-box;
    }

    .header-left {
        column-gap: 16px;
        padding: 5px 0 0 12px;
    }

    .header-left>ul {
        display: none;
    }

    .header-left>div {
        position: absolute;
        top: 25px;
        width: 100%;
        min-width: 312px;
        margin-left: -24px;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    .header-left>div>.logo {
        height: 29px;
        width: 30px;
    }

    .menu-icon-small-screen {
        display: block;
        width: 20px;
        height: 20px;
        margin-top: 2px;
    }

    .header-left>h6 {
        margin-left: 0;
    }

    .header-right {
        column-gap: 0px;
    }

    .header-right-small-screen .icon.more {
        display: none;
    }

    .header-right-small-screen .icon.search {
        width: 22px;
        height: 22px;
        padding: 0;
        margin-right: -5px;
        margin-top: 6px;
    }

    .header-right>p {
        padding: 0 20px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
    }

    .banner-content {
        padding-top: 47px;
        row-gap: 11.5px;
    }

    .banner-content>p {
        margin-top: 1px;
    }

    footer{
        padding-bottom: 30px;
    }

    .footer-bottom-section{
        gap: 18px;
    }

    .footer-bottom-section .right-section{
        padding-left: 0px;
        justify-content: flex-start;
        column-gap: 13px;
        row-gap: 6px;
    }

}


@media screen and (max-width:539px) {

    .banner {
        height: 456px;
    }

    .banner-div {
        padding: 16px;
        height: 534px;
    }

    .banner-div>div {
        margin-top: 14px;
    }

    .banner-content {
        padding-top: 3%;
    }

    .banner-content>div {
        flex-flow: column;
        row-gap: 8px;
    }

    .banner-content>div>div {
        max-width: 100%;
        text-align: center;
    }

    .featured-news {
        padding: 0 1rem;
    }

    .featured-news-divs>.card>p {
        padding-right: 0px;
    }

    .solutions>div {
        padding: 0 1rem;
    }

    .scrollable-list>ul>li:first-child>div,.scrollable-list>ul>li{
        width: 100%;
        justify-content: space-between;
    }

    .seperating-banner>div>.square-button {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .customer-stories-main-div>.content>.content-bottom .square-button.blue {
        max-width: 100%;
        text-align: center;
    }

    .footer-content-section{
        grid-template-columns: repeat(1,1fr);
    }

    .products-and-services{
        padding: 0 1rem;
    }

    .products-and-services-divs .main{
        aspect-ratio:unset;
        height: 100%;
        min-height: fit-content;
    }

    .products-and-services .main .main-gradient *{
        word-wrap: break-word;
        word-break: break-all;
        height: 100%;
        min-height: fit-content;
    }

    .products-and-services .small-screen-next-button,.solutions .small-screen-next-button{
        margin-right: 0rem;
    }

    .body-content-banner{
        padding: 0 1rem;
    }

    .resources-by-role .resources-bg{
        padding: 0 1rem;
    }

    .customer-stories{
        padding: 0 1rem;
        margin-top: 50px;
    }

    .body-bottom-section{
        padding: 0 1rem;
    }

}


@media screen and (max-width:249px) {

    .customer-stories-main-div>.content>.content-top img {
        width: 100%;
        aspect-ratio: initial;
    }

}


@media screen and (min-width:1080px) {
    .footer-content-section>ul:first-child,.footer-content-section>.partners{
        padding-left: 0;
    }
}
